<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          
        </li>
        <li class="nav-item">
          
        </li>
        <li class="nav-item dropdown">
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
        
        </li>
      </ul>
      <form class="d-flex">
        
      </form>
    </div>
  </div>
</nav>

<h2 style="margin: 2% 0 0 3%;">Listado de post</h2>

<table class="table table-dark table-striped" style="width: 70%; margin: 1% 0 0 3%;">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Id</th>
        <th scope="col">Tituloㅤㅤㅤㅤㅤㅤ</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of list_post let indec=index">
        <td scope="row">{{indec+1}}</td>
        <td scope="row">{{ post.id }}</td>
        <td scope="row">{{ post.title }}</td>
        <td scope="row"><button type="button" (click)="ver_Post(post.id )" class="btn btn-info">Ver</button>
        </td>

      </tr>

      
    </tbody>
  </table>

  <h3 style="margin: 3% 0 0 3%;">desarrollado por:</h3>
  <h4 style="margin: 1% 0 0 3%;"> Diaz Tache Jesus Daniel </h4>
  <h4 style="margin: 0 0 0 3%;"> Jaramillo Jaramillo Jesus Javier </h4>